Test Downlink/flows.json
[
    {
        "id": "4efdd7bf901ccf7e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b05d10977211cc3d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29251332c606a0e7",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "58b5592c708247ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ef82681a90bcadff",
        "type": "ui_group",
        "name": "Fréquence d'envoi (en minutes)",
        "tab": "29251332c606a0e7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97884c74dfccb6cf",
        "type": "ui_group",
        "name": "Température",
        "tab": "29251332c606a0e7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "81361c364edd6842",
        "type": "ui_group",
        "name": "Humidité",
        "tab": "29251332c606a0e7",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1dcbfb75cbbfd406",
        "type": "ui_group",
        "name": "Batterie",
        "tab": "29251332c606a0e7",
        "order": 4,
        "disp": true,
        "width": "2",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0d5f6380ac25f824",
        "type": "ui_group",
        "name": "Luminosité",
        "tab": "29251332c606a0e7",
        "order": 5,
        "disp": true,
        "width": "2",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fcf72004e1c93729",
        "type": "ui_group",
        "name": "Poids",
        "tab": "29251332c606a0e7",
        "order": 6,
        "disp": true,
        "width": "2",
        "collapse": true,
        "className": ""
    },
    {
        "id": "090e9a47127320a1",
        "type": "ui_group",
        "name": "Son",
        "tab": "29251332c606a0e7",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "cfb0981744b7476e",
        "type": "mqtt in",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b05d10977211cc3d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 720,
        "wires": [
            [
                "1a14dcade15f0234",
                "e0bea5e0d8f18cee"
            ]
        ]
    },
    {
        "id": "1a14dcade15f0234",
        "type": "debug",
        "z": "4efdd7bf901ccf7e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 720,
        "wires": []
    },
    {
        "id": "87978ed0382d3771",
        "type": "mqtt out",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "topic": "v3/beekeeping@ttn/devices/beekeeping/down/push",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b05d10977211cc3d",
        "x": 1560,
        "y": 300,
        "wires": []
    },
    {
        "id": "84775dbb7d1aa4fa",
        "type": "function",
        "z": "4efdd7bf901ccf7e",
        "name": "toBase64",
        "func": "var p;\nif (msg.payload>60){\n     p = 60;\n}\nelse p = msg.payload;\nreturn {\n    \"payload\": {\n        \"downlinks\": [{\n            \"f_port\": 15,\n            \"frm_payload\": Buffer.from([p.toString()]).toString('base64'),\n            \"priority\": \"NORMAL\"\n        }]\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 460,
        "wires": [
            [
                "87978ed0382d3771"
            ]
        ]
    },
    {
        "id": "1c9124e9.e36edb",
        "type": "inject",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2909,
        "y": 834,
        "wires": [
            []
        ]
    },
    {
        "id": "48a892ea.b7576c",
        "type": "debug",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 3305,
        "y": 931,
        "wires": []
    },
    {
        "id": "eff74a216724ba5a",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "97884c74dfccb6cf",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "Sonde 1",
        "icon": "",
        "label": "Sonde 1",
        "unit": "°C",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.t_0",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 80,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "c07f6a01324a8f92",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "97884c74dfccb6cf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Sonde 2",
        "icon": "",
        "label": "Sonde 2",
        "unit": "°C",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.t_1",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 80,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "e97dc472afc7b355",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "97884c74dfccb6cf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Sonde 3",
        "icon": "",
        "label": "Sonde 3",
        "unit": "°C",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.t_3",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 80,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 820,
        "y": 940,
        "wires": []
    },
    {
        "id": "c9e47065b056d125",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "97884c74dfccb6cf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "DHT Intérieur",
        "icon": "",
        "label": "DHT Intérieur",
        "unit": "°C",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.t_2",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 80,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 840,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b9b13e0a8c786c6e",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "97884c74dfccb6cf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "DHT extérieur",
        "icon": "",
        "label": "DHT extérieur",
        "unit": "°C",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.t_i",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": -10,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 80,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "de6c27f45b3e7c16",
        "type": "change",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payloadSaved",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "eff74a216724ba5a",
                "c07f6a01324a8f92",
                "e97dc472afc7b355",
                "c9e47065b056d125",
                "b9b13e0a8c786c6e",
                "5e72c0b91aa832e2",
                "17552ff3cf54fe9e",
                "f211c9fa33f0e1b7",
                "4e52cf4895398ec4",
                "79b0dd4ebe06e7d1",
                "28a0a521dc997872",
                "db9e2dbfec455e64",
                "679c2d6e45754ced",
                "7c6d4665f330be48",
                "fdbe549138cff2c2",
                "5e551ce3bd3d524c",
                "bf2aac5890fc24de",
                "f880901d8ec9b86a",
                "426736f6c558fa30",
                "2855f0d752dc4a5b"
            ]
        ]
    },
    {
        "id": "7db28e445936145d",
        "type": "ui_text_input",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "ef82681a90bcadff",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "84775dbb7d1aa4fa"
            ]
        ]
    },
    {
        "id": "5e72c0b91aa832e2",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "81361c364edd6842",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "Humidité Intérieure",
        "icon": "",
        "label": "intérieure",
        "unit": "%",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.h_i",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 850,
        "y": 1180,
        "wires": []
    },
    {
        "id": "17552ff3cf54fe9e",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "81361c364edd6842",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "Humidité extérieure",
        "icon": "",
        "label": "extérieure",
        "unit": "%",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.h",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 850,
        "y": 1240,
        "wires": []
    },
    {
        "id": "f211c9fa33f0e1b7",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "1dcbfb75cbbfd406",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "Batterie",
        "icon": "",
        "label": "Batterie",
        "unit": "%",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.bv",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 820,
        "y": 1340,
        "wires": []
    },
    {
        "id": "4e52cf4895398ec4",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "0d5f6380ac25f824",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "Luminosité",
        "icon": "",
        "label": "Luminosité",
        "unit": "lux",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.l",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 10,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1460,
        "wires": []
    },
    {
        "id": "79b0dd4ebe06e7d1",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "fcf72004e1c93729",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "Poids",
        "icon": "",
        "label": "Poids",
        "unit": "kg",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.weight_kg",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 120,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 810,
        "y": 1560,
        "wires": []
    },
    {
        "id": "28a0a521dc997872",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "098_146Hz",
        "icon": "",
        "label": "098_146Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin098_146Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1680,
        "wires": []
    },
    {
        "id": "db9e2dbfec455e64",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "146_195Hz",
        "icon": "",
        "label": "146_195Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin146_195Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1740,
        "wires": []
    },
    {
        "id": "679c2d6e45754ced",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "195_244Hz",
        "icon": "",
        "label": "195_244Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin195_244Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1800,
        "wires": []
    },
    {
        "id": "7c6d4665f330be48",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "244_293Hz",
        "icon": "",
        "label": "244_293Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin244_293Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1860,
        "wires": []
    },
    {
        "id": "fdbe549138cff2c2",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "293_342Hz",
        "icon": "",
        "label": "293_342Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin293_342Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1920,
        "wires": []
    },
    {
        "id": "5e551ce3bd3d524c",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "342_391Hz",
        "icon": "",
        "label": "342_391Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin342_391Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 1980,
        "wires": []
    },
    {
        "id": "bf2aac5890fc24de",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "391_439Hz",
        "icon": "",
        "label": "391_439Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin391_439Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 2040,
        "wires": []
    },
    {
        "id": "f880901d8ec9b86a",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "439_488Hz",
        "icon": "",
        "label": "439_488Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin439_488Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 2100,
        "wires": []
    },
    {
        "id": "426736f6c558fa30",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "488_537Hz",
        "icon": "",
        "label": "488_537Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin488_537Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 2160,
        "wires": []
    },
    {
        "id": "2855f0d752dc4a5b",
        "type": "ui_artlessgauge",
        "z": "4efdd7bf901ccf7e",
        "group": "090e9a47127320a1",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "537_586Hz",
        "icon": "",
        "label": "537_586Hz",
        "unit": "dB",
        "layout": "radial",
        "decimals": "2",
        "differential": false,
        "minmax": true,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payloadSaved.uplink_message.decoded_payload.s_bin537_586Hz",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#80ffff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#80ffff",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "20",
        "x": 830,
        "y": 2220,
        "wires": []
    },
    {
        "id": "e0bea5e0d8f18cee",
        "type": "switch",
        "z": "4efdd7bf901ccf7e",
        "name": "",
        "property": "payload.uplink_message.decoded_payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 940,
        "wires": [
            [
                "de6c27f45b3e7c16"
            ]
        ]
    }
]